.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__big {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 600px;

    @media screen and (max-width: 767px) {
      height: 390px;
    }
  }
  &__footer {
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width: 767px) {
      align-items: center;
      flex-direction: column;
    }
  }
}
