.footer {
  &__backgroud {
    background-color: #2f303a;
    display: flex;
  }

  &__style {
    font-family: $fontsecondary;
    font-weight: 700;
    font-size: 26px;
    line-height: 3.1;
    color: $firstcolor;
    text-align: center;
  }
  &__logo {
    color: $secondcolor;
  }
  &__adress {
    font-size: 14px;
    line-height: 1.7;
    color: $firstcolor;
    gap: 9px;
    font-style: normal;
    align-items: center;
  }
  &__adress:hover,
  &__adress:focus {
    color: $secondcolor;
  }

  &__telmail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: $colorgrey;
    fill: $colorgrey;
    display: flex;
    gap: 10px;
    font-style: normal;
    @media screen and (max-width: 767px) {
      display: inline;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
    }
  }

  &__telmail:hover,
  &__telmail:focus {
    color: $secondcolor;
  }
  &__social {
    gap: 20px;
    margin-left: 70px;
    @media screen and (max-width: 767px) {
      margin-left: 0;
      margin-top: 70px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
    }
  }
  &__social-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $firstcolor;
    margin-bottom: 20px;
  }
  &__social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
  }
  &__social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    fill: $firstcolor;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color $transdurationtfunction;
  }

  &__social-item:is(:hover, :focus) {
    background-color: $secondcolor;
  }
  &__form {
    height: fit-content;
    gap: 20px;
    margin-left: 70px;
    @media screen and (max-width: 767px) {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 0;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 100%;
      grid-column-start: 1;
      grid-column-end: 3;
      padding: 0;
      margin-top: 60px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $firstcolor;
    margin-bottom: 13px;
    @media screen and (max-width: 767px) {
      margin-top: 80px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
    }
  }

  &__btn {
    background: $secondcolor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: $firstcolor;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    padding: 10px 41px 10px 42px;
    border: none;
    border-radius: 4px;
    fill: $firstcolor;
    display: flex;
    align-items: center;
    gap: 24px;
    @media screen and (max-width: 767px) {
      display: inline;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: inline;
    }
  }
  &__btn:is(:hover, :focus) {
    color: $secondcolor;
    background-color: $firstcolor;
    transition: background-color $transdurationtfunction;
    fill: $secondcolor;
  }
  @media screen and (max-width: 767px) {
    align-items: center;
    text-align: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    align-items: center;
  }

  &__web {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
    }
  }
}
