.list {
  display: grid;
  gap: 30px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    align-items: center;
    grid-template-columns: 354px 354px;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: 277px 277px 277px 277px;
  }

  &__customers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 94px;
    @media screen and (max-width: 768px) {
      column-count: 2;
      display: block;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      column-count: 3;
      display: block;
      margin-right: 15px;
      margin-left: 15px;
    }
  }
}
