.lorem {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 94px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: grid;
    grid-template-columns: 354px 354px;
  }

  &__item {
    width: 270px;
    @media screen and (max-width: 767px) {
      width: 360px;
    }
  }
  &__icon {
    background-color: $colorbackgroundsquad;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
    margin-bottom: 30px;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.6;
    text-transform: uppercase;
    color: $secondblack;
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      text-align: center;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.7;
    color: $colorgrey;
    letter-spacing: 0.03em;
  }
}
