.lorem {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 94px;
  flex-direction: column;
  margin-bottom: 0px;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 354px 354px;
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
    grid-template-columns: 270px 270px 270px 270px;
    margin-bottom: 94px;
  }

  &__item {
    width: 100%;
      max-width: 450px;

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
  &__icon {
    background-color: $colorbackgroundsquad;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
    margin-bottom: 30px;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.6;
    text-transform: uppercase;
    color: $secondblack;
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.7;
    color: $colorgrey;
    letter-spacing: 0.03em;
  }
}
