.ourjob {
  &__offer {
    text-align: center;
  }

  &__item {
    display: inline-block;
    margin-right: 20px;
    position: relative;
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $firstcolor;
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    background: $colorbackgroundimg;
    width: 100%;
  }
}
