* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  cursor: pointer;
}

body {
  font-family: $fontprimary;
  color: $secondblack;
  letter-spacing: 0.03em;
}
header {
  border-bottom: 1px solid $colorheaderline;
}
