.subscribe {
  display: flex;
  align-items: center;
  gap: 12px;
  @media screen and (max-width: 767px) {
    display: inline;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: inline-flex;
    flex-direction: column;
  }
  &__btn {
    gap: 24px;
    fill: $firstcolor;
    padding: 10px 28px 10px 42px;
    &:is(:hover, :focus) {
      fill: $secondcolor;
    }
  }

  &__input {
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    align-items: center;
    padding: 16px 15px;
    color: rgba(255, 255, 255, 0.3);
    outline: none;
    @media screen and (max-width: 767px) {
      margin-bottom: 10px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
    }
    &[name='newsletter-email']:focus {
      border: 1px solid $secondcolor;
      color: $secondcolor;
      &::placeholder {
        color: $secondcolor;
      }
    }
  }
}
