.subscribe {
  display: flex;
  align-items: center;
  gap: 12px;
  display: inline-block;
  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: 354px 234px;
  }
  &__btn {
    gap: 24px;
    fill: $firstcolor;
    padding: 10px 28px 10px 42px;
    &:is(:hover, :focus) {
      fill: $secondcolor;
    }
  }

  &__input {
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 100%;
    max-width: 480px;
    align-items: center;
    padding: 16px 15px;
    color: rgba(255, 255, 255, 0.3);
    outline: none;
    margin-bottom:10px;
    @media screen and (min-width: 768px) {
    width: 450px;
    margin-bottom:0;
    }

    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-bottom:0;
    }
    &[name='newsletter-email']:focus {
      border: 1px solid $secondcolor;
      color: $secondcolor;
      &::placeholder {
        color: $secondcolor;
      }
    }
  }
}










